* {
    margin: 0;
    padding: 0;
}

.header {

    height: 120px;
    width: 100%;
    background: black  ;
    position: relative;

}

.nav-link {

    font-size: 25px;
    position: relative;
    top: 35%;
    right: 25%;
}

.sidebar {

    height: 1000px;
    width: 350px;
    background: #474747;
    position: relative;

}
