* {
    margin: 0;
    padding: 0;
}

.valortotal {

    height: relative;
    width: 1000px;
    background: #474350  ;
    border-radius: 10px;
    position: relative;
    right: -30%;
    top: 150px;


    color:aliceblue;

    padding: 10px;
    box-shadow: 2px 5px 10px 4px #888888;
}

.receberhoje {

    height: relative;
    width: 1000px;
    background: #474350  ;
    border-radius: 10px;
    position: relative;
    right: -30%;
    top: 180px;

    color:aliceblue;

    padding: 10px;
    box-shadow: 2px 5px 10px 4px #888888;
}

.recebermes { 
    height: relative;
    width: 1000px;
    background: #474350  ;
    border-radius: 10px;
    position: relative;
    right: -30%;
    top: 210px;

    color:aliceblue;

    padding: 10px;
    box-shadow: 2px 5px 10px 4px #888888;
   
}

a {
    text-decoration: none;
}

.pendencia{

        height: relative;
        width: 1000px;
        background: #474350  ;
        border-radius: 10px;
        position: relative;
        right: -30%;
        top: 240px;

        color:aliceblue;

        padding: 10px;
        box-shadow: 2px 5px 10px 4px #888888;
}