* {
    margin: 0;
    padding: 0;
    /*background-color: #FFC857;*/
}

.valortotal {

    height: 150px;
    width: 1000px;
    background: #474350  ;
    border-radius: 10px;
    position: relative;
    right: -30%;
    top: 150px;


    color:aliceblue;

    padding: 10px;
    box-shadow: 2px 5px 10px 4px #888888;
}

.receberhoje {

    height: 60px;
    width: 1000px;
    background: #474350  ;
    border-radius: 10px;
    position: relative;
    right: -30%;
    top: 200px;

    color:aliceblue;

    padding: 10px;
    box-shadow: 2px 5px 10px 4px #888888;
}

.recebermes { 
    height: 60px;
    width: 1000px;
    background: #474350  ;
    border-radius: 10px;
    position: relative;
    right: -30%;
    top: 250px;

    color:aliceblue;

    padding: 10px;
    box-shadow: 2px 5px 10px 4px #888888;
   
}

a {
    text-decoration: none;
}